@tailwind base;
@tailwind components;
@tailwind utilities;




@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scrollz {
  display: flex;
  animation: scroll 15s linear infinite; /* Default for mobile */
  width: calc(300% + 40rem); /* Adjusts the width for seamless scrolling */
}

/* For larger devices */
@media (min-width: 768px) {
  .animate-scrollz {
    animation: scroll 40s linear infinite; 
    width: calc(800% + 3rem); /* Adjusts the width for seamless scrolling */
  }
}
